<!-- <div class="text-layout">
    <h1>{{'Hola mundo' | lowercase}}</h1>
</div>

<button pButton
class="p-button-help" 
label="Mostrar nombre" 
type="button" 
icon="pi pi-check" 
iconPos="right"></button>

<p-card header="Simple card">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nisi minus suscipit assumenda voluptas necessitatibus odit delectus dolore veritatis neque quam molestias deleniti, corrupti ratione magni cumque officiis maiores dolorum.</p>
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>